.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-item {
 width: 60px;
 height: 60px;
  text-align: center;
  margin: auto 4px;
  color: black;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  font-size: 28px;
  border: 1px solid #34C87C;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.pagination-container .pagination-item.dots{
  border:none;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  border:none;
  color:black;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: #34C87C;
  color:white;
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: #34C87C;
  color:white;
}

.pagination-container .pagination-item:hover .arrow::before {
   border-right: 0.12em solid white;
    border-top: 0.12em solid white;
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid black;
  border-top: 0.12em solid black;
}

.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}