
.slider ,
.slider2 {
  width: 100%;
  overflow: hidden;
}
@media (min-width:768px) {
  .slider{
    display: block;
  }
  .slider2{
    display: none;
  }
}
.slides, 
.slides2 {
  display: flex;
  transition: transform 1s ease-in-out;
}
.slide{
  margin: 0 10px;
  min-width:calc(100% /3 - 20px);
  box-sizing: border-box;
}
.slide2{
  margin: 0 10px;
  min-width:calc(100% - 20px);
  box-sizing: border-box;
}
@media (max-width:767px) {
  .slider2{
    display: block;
  }
  .slider{
    display: none;
  }
}
